.bar {
  width: 83vw;
  height: 10vh;
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  padding: 0;
  margin: 0;
}

.t1, .t2, .t3, .t4{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 3.6vh;
  margin-top: 3.6vh;
  padding: 0.1vw;
  height: 6vh;
  width: 18vw;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  text-align: center;
  background-color: rgb(61, 61, 61);
  outline: none;
  border: none;
  color: white;
}

.t1::placeholder, .t2::placeholder, .t3::placeholder, .t4::placeholder {
    color: white;
    font-size: 1.5vw;
    padding: 0;
}
